*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1f2833;
    position: relative;
    min-height: 100vh;
}

button{
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-style: none;
    color: #ffffff;
    background-color: #1f2833;
    border: 1px solid #1f2833;
    transition-duration: 0.4s;
    position: relative;
}

button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #1f2833;
}

button:active{
    top: 1px;
}