.nav{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-logo{
    flex-grow: 1;
}

.nav-logo a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.nav-links{
    flex:1;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color:#000000;
}

.nav-links a:hover{
    color: #45a29e;
}

@media screen and (max-width: 768px){
    .nav-bar{
        flex-direction: column;
    }

    .nav-links{
        width: 95%;
    }

    .nav-links{
        margin-top: 25px;
    }
}

@media screen and (max-width: 480px){
    .nav-links{
        width: 100%;
    }

    .nav-links ul li{
        font-size: 14px;
    }

    .nav-logo h1{
        font-size: 20px;
    }
}