.main-container{
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.section{
    width:60%;
    padding:50px 0px;
    display: flex;
    flex-direction: column;
}

.section h2{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.section p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    font-size: 20px;
    line-height: 40px;
}

.section button{
    width: 110px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    border-style: none;
    color: #1f2833;
    background-color: #66fcf1;
    border: 1px solid #66fcf1;
    transition-duration: 0.4s;
    position: relative;
}

section a{
    width: 10%;
}

.section-end{
    display: flex;
    justify-content: center;
}
.section-end hr{
    width: 80%;
    background-color: #1f2833;
}
.section button:hover{
    cursor: pointer;
    background-color: #1f2833;
    color: #66fcf1;
}

.section button:active{
    top: 1px;
}

@media only screen and (max-width:1024px){
    .section{
        width:70%;
    }

    .section h2{
        font-size: 26px;
    }
    
    .section p{
        font-size: 16px;
    }

    .section button{
        margin-top: 10px;
        width: 80px
    }
}

@media only screen and (max-width:480px){
    .section{
        width:80%;
    }
    .section p{
        line-height: 30px;
    }
}